
h1 {
    background-color: #98e2fa;
    text-align: center;
}

body {
    text-align: center;
     background-color: #5cc4e6;
}

div {
    text-align: center;
    background-color: #3ea5c7;
}

p {
    text-align:center;
}